# Giberish files
.vscode
.github
.user.ini
.php_cs.cache
.scannerwork/*
USER.INI
error_log
TODO
.DS_Store
*~
*.swp
*.bak
*.sav
.git
runme.php
# Scripts and such
utilities
# IDE related files
Elanegistry.sublime-project
ElanRegistry.code-workspace
# Environment specific files
.env.enc
.env.key
# Include the userimages and thumbs directory but not the files
app/userimages/thumbs/*.*
app/userimages/*.*
!app/userimages/.htaccess
!app/userimages/thumbs/.htaccess
# Exclude userspice base
# Because I want to include users/cron/backup.php I need to do this
# https://stackoverflow.com/questions/5533050/gitignore-exclude-folder-but-include-specific-subfolder
!users/
users/**
!users/cron/
!users/images/logo.png
# Exclude userspice extentions.  These need to be manually installed
usersc/plugins/*
#
# Include all the hooks
!usersc/plugins/hooker/
usersc/plugins/hooker/*
!usersc/plugins/hooker/hooks/
usersc/plugins/hooker/hooks/sample_hook.php
#
usersc/templates/*
usersc/widgets/*
install/*
# Now get my template
!usersc/templates/ElanRegistry
# exclude backup files
@backup*
# exclude UserSpice update backups
usupdate.zip
users/updates/
# exclude Test Cases
tests/
.htaccess
#exclude composer and vendor files
vendor
composer.lock
usersc/vendor
usersc/tests
