########################################
# IDE & Editor Files
########################################
.vscode
Elanegistry.sublime-project
ElanRegistry.code-workspace
*.swp
*~
.DS_Store

########################################
# System & Miscellaneous Files
########################################
.user.ini
USER.INI
error_log
TODO
.php_cs.cache
.scannerwork/*
.git
.htaccess
runme.php

########################################
# Environment & Config Files
########################################
.env.enc
.env.key
.env.local
.env

########################################
# Scripts & Utilities
########################################
utilities

########################################
# User Images (include .htaccess only)
########################################
userimages/*/*.*
userimages/*
!userimages/.htaccess

########################################
# Userspice Base & Extensions
########################################
# Exclude all users except specific files/folders
!users/
users/**
!users/cron/
!users/images/logo.png
users/updates/
# Exclude usersc plugins except specific ones
usersc/plugins/*
!usersc/plugins/hooker/
usersc/plugins/hooker/*
!usersc/plugins/hooker/hooks/
usersc/plugins/hooker/hooks/sample_hook.php
usersc/plugins/hooker/hooks/uman_tbody.php
!usersc/plugins/sendinblue/
usersc/plugins/sendinblue/*
!usersc/plugins/sendinblue/override.php
!usersc/plugins/sendinblue/functions.php

########################################
# Usersc Templates, Widgets, Install
########################################
usersc/templates/*
!usersc/templates/ElanRegistry
usersc/widgets/*
!usersc/widgets/settings/
usersc/widgets/settings/*.png
install/*

########################################
# Vendor & Dependencies
########################################
vendor
composer.lock
usersc/vendor

########################################
# Node.js & NPM
########################################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.yarn-integrity

########################################
# Playwright
########################################
/test-results/
/playwright-report/
/playwright/.cache/
.playwright.result.cache

########################################
# Tests & Backups
########################################
# Include test source files but exclude generated files
tests/.phpunit.result.cache
tests/coverage/
tests/temp/
usersc/tests
@backup*
usupdate.zip




users/logs/*.log.php
usersc/includes/totp_key.php
